<script src="https://code.jquery.com/jquery-1.11.3.min.js"/></script>
<script src="build/bundle.min.js"/></script>

<h1>WELL HI :) {{name}} !</h1>

{{> partials/two }}
<!-- use partial partials/two.mustache -->
<!-- view params propegate all way down partials -->
